# Build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# OS/System files
.DS_Store
Thumbs.db

# Dependencies
vendor/
.bundle/
node_modules/

# Editor-specific files
.vscode/
.idea/
.vercel
.env*

# Random stuff
todo
reminder