<div class="schedule-container">
<table class="schedule-table">
    <thead>
        <tr>
            <th>Time</th><th>D1</th><th>D2</th><th>D3</th><th>D4</th><th>D5</th><th>D6</th><th>D7</th>
        </tr>
    </thead>
    <tbody>
        {% assign survival_data = site.data[site.active_lang].survival_battle %}
        {% for row in survival_data %}
        <tr>
            <td>{{ row.time }}</td>
            <td class="{{ site.data.phase_colours[row.d1.key] }}">{{ row.d1.text }}</td>
            <td class="{{ site.data.phase_colours[row.d2.key] }}">{{ row.d2.text }}</td>
            <td class="{{ site.data.phase_colours[row.d3.key] }}">{{ row.d3.text }}</td>
            <td class="{{ site.data.phase_colours[row.d4.key] }}">{{ row.d4.text }}</td>
            <td class="{{ site.data.phase_colours[row.d5.key] }}">{{ row.d5.text }}</td>
            <td class="{{ site.data.phase_colours[row.d6.key] }}">{{ row.d6.text }}</td>
            <td class="{{ site.data.phase_colours[row.d7.key] }}">{{ row.d7.text }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>