<header class="lantern-header">
    <div class="header-stack">
        <img src="/{{ site.active_lang | default: 'en' }}/images/lantern.png" class="lantern-img" alt="Lantern">
        <div class="text-container">
            <h1 class="debossed-title">{{ site.data[site.active_lang].ui.header.title }}</h1>
            
            {% assign ui_pages = site.data[site.active_lang].ui.pages %}
            {% if page.guide_id %}
                {% assign header_subtitle = ui_pages.guide_panes[page.guide_id].subtitle %}
            {% elsif page.page_key %}
                {% assign header_subtitle = ui_pages[page.page_key].subtitle %}
            {% else %}
                {% assign header_subtitle = site.data[site.active_lang].ui.header.subtitle %}
            {% endif %}
            
            <div class="subtitle">{{ header_subtitle }}</div>
        </div>

        {% include structure/language-switcher.html %}

    </div>
    <div class="lantern-glow-bleed"></div>
</header>