<div id="global-header-wrapper" class="header-container" data-turbo-permanent>
<header class="lantern-header">

<div class="dust-container">
    {% for i in (1..60) %}
        {% comment %} Using prime multipliers to scatter the points {% endcomment %}
        {% assign x = i | times: 17 | modulo: 90 | plus: 5 %}
        {% assign y = i | times: 23 | modulo: 80 | plus: 10 %}
        
        <div class="mote" style="--mote-y: {{ y }}%; --mote-x: {{ x }}%;"></div>
    {% endfor %}
</div>
    <div class="header-stack">
        <div class="lantern-container">
        <img src="/images/lantern.png" id="theme-toggle" class="lantern-img" alt="Toggle Theme">
        </div>
        <div class="text-container">
            <h1 class="debossed-title">{{ site.data[site.active_lang].ui.header.title }}</h1>
            
            {% assign ui_pages = site.data[site.active_lang].ui.pages %}
            {% if page.guide_id %}
                {% assign header_subtitle = ui_pages.guide_panes[page.guide_id].subtitle %}
            {% elsif page.page_key %}
                {% assign header_subtitle = ui_pages[page.page_key].subtitle %}
            {% else %}
                {% assign header_subtitle = site.data[site.active_lang].ui.header.subtitle %}
            {% endif %}

            <div class="lantern-edge-highlight"></div>
            <div class="subtitle" id="ui-subtitle">{{ header_subtitle }}</div>
        </div>

        {% include structure/language-switcher.html %}

    </div>
    <div class="lantern-flicker-layer"></div>
    <div class="noise-overlay"></div>
</header>
</div>